# Ignore target directory
target/

# Ignore version control files
.gitignore

# Ignore editor and IDE files
.vscode/
.idea/
*.swp
*.swo

# Ignore log files
*.log

# TODO : uncomment this
# Ignore any local environment files
 .env
 .env.*

# Ignore any test or documentation directories
tests/
docs/

# Ignore Rust-specific files
Cargo.lock

# Ignore any temporary files
*.tmp
*.bak

# Ignore OS-specific files
.DS_Store
Thumbs.db

Dockerfile
