# Madara docker ignore file
.devcontainer
.github

# Ignore editor and IDE files
.vscode/
.idea/
*.swp
*.swo

# Ignore scripts and target directory
scripts
target/

# Ignore dockerfiles
*dockerfile

# Ignore OS specific files
.DS_Store
Thumbs.db
.npm-global