[submodule "cairo-lang"]
    path = cairo-lang
    url = https://github.com/starkware-libs/cairo-lang.git
    ignore = all
[submodule "madara-bootstrapper"]
    path = madara-bootstrapper
	url = https://github.com/madara-alliance/madara-bootstrapper.git
	ignore = all
