target
madara/crates/resources/*
infra/Signoz
cairo-artifacts
dashboards

orchestrator/cairo-lang/
orchestrator/madara-bootstrapper/
orchestrator/pathfinder/
orchestrator/orchestrator_venv/
orchestrator/build/
orchestrator/node_modules/
