[package]
description = "This crate is responsible to handle l1 communication"
name = "mc-settlement-client"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true
homepage.workspace = true

[lints.clippy]
# We cannot inherit the lints because the sol! macro for solidy ABI generates unsafe blocks.
print_stdout = "warn"
print_stderr = "warn"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]

# Madara
mc-analytics.workspace = true
mc-db.workspace = true
mc-mempool.workspace = true
mc-submit-tx.workspace = true
mp-chain-config.workspace = true
mp-convert.workspace = true
mp-utils.workspace = true
mp-transactions.workspace = true

# Starknet
blockifier.workspace = true
starknet-types-core.workspace = true
starknet_api.workspace = true


# Other
alloy.workspace = true
anyhow.workspace = true
assert_matches.workspace = true
bigdecimal.workspace = true
bitvec.workspace = true
futures = { workspace = true, default-features = true }
mockall.workspace = true
regex.workspace = true
serde = { workspace = true, default-features = true }
serde_json.workspace = true
starknet-accounts.workspace = true
starknet-core.workspace = true
starknet-crypto.workspace = true
starknet-providers.workspace = true
starknet-signers.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = [
  "macros",
  "parking_lot",
  "test-util",
  "signal",
  "rt-multi-thread",
  "sync",
] }
url.workspace = true


#Instrumentation
async-trait = { workspace = true }
opentelemetry = { workspace = true, features = ["metrics", "logs"] }
opentelemetry-appender-tracing = { workspace = true, default-features = false }
opentelemetry-otlp = { workspace = true, features = [
  "tonic",
  "metrics",
  "logs",
] }
opentelemetry-semantic-conventions = { workspace = true }
opentelemetry-stdout = { workspace = true }
opentelemetry_sdk = { workspace = true, features = ["rt-tokio", "logs"] }
tracing = { workspace = true }
tracing-core = { workspace = true, default-features = false }
tracing-opentelemetry = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }

[features]
default = []
testing = []

[dev-dependencies]
blockifier = { workspace = true, features = ["testing"] }
rand.workspace = true
rstest.workspace = true
tempfile.workspace = true
dotenv.workspace = true
httpmock.workspace = true
tracing-test.workspace = true
lazy_static.workspace = true
mp-utils = { workspace = true, features = ["testing"] }
mc-db = { workspace = true, features = ["testing"] }
mp-class.workspace = true
m-cairo-test-contracts.workspace = true
mc-e2e-tests.workspace = true
tokio-util = { workspace = true, features = ["time"] }
