[package]
description = "Madara primitive for Oracles"
name = "mp-oracle"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true
homepage.workspace = true

[lints]
workspace = true

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]

# Other
anyhow.workspace = true
async-trait.workspace = true
mp-convert.workspace = true
mp-utils.workspace = true
reqwest.workspace = true
serde = { workspace = true, features = ["derive"] }
