[package]
name = "orchestrator-atlantic-service"
version.workspace = true
edition.workspace = true

[dependencies]
alloy.workspace = true
async-trait.workspace = true
cairo-vm.workspace = true
clap.workspace = true
color-eyre.workspace = true
dotenvy.workspace = true
env_logger.workspace = true
hex.workspace = true
httpmock = { version = "0.8.0-alpha.1", features = ["proxy", "remote"] }
orchestrator-gps-fact-checker.workspace = true
orchestrator-prover-client-interface.workspace = true
orchestrator-utils.workspace = true
reqwest.workspace = true
serde.workspace = true
serde_json.workspace = true
strum = { workspace = true }
strum_macros = { workspace = true }
swiftness_proof_parser.workspace = true
tempfile.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing = { workspace = true }
url.workspace = true
uuid.workspace = true

[dev-dependencies]
tokio.workspace = true
httpmock = { version = "0.8.0-alpha.1", features = ["proxy", "remote"] }
