BASE_LAYER_PRIVATE_KEY=0xabcd # This is the private key used for making deployments on base_layer(Ethereum like, Starknet)
MADARA_PRIVATE_KEY=0xabcd # Private key for deployments on Madara
RUST_LOG=info
