[package]
name = "mc-sync"
description = "This crate is responsible to sync data"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
version.workspace = true
homepage.workspace = true

[features]
default = []
m = []

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dev-dependencies]

httpmock.workspace = true
tempfile.workspace = true
rstest.workspace = true
regex.workspace = true

mc-db = { workspace = true, features = ["testing"] }
mc-block-import = { workspace = true, features = ["testing"] }
mp-utils = { workspace = true, features = ["testing"] }
# Compile the test contracts in test cfg.
m-cairo-test-contracts.workspace = true

[dependencies]

# Madara
mc-analytics.workspace = true
mc-block-import.workspace = true
mc-db.workspace = true
mc-gateway-client.workspace = true
mc-rpc.workspace = true
mc-telemetry.workspace = true

mp-block.workspace = true
mp-chain-config.workspace = true
mp-class.workspace = true
mp-gateway.workspace = true
mp-utils.workspace = true
mp-rpc.workspace = true
mp-sync.workspace = true

# Starknet
starknet-types-core.workspace = true
starknet_api.workspace = true

#Instrumentation
opentelemetry = { workspace = true, features = ["metrics", "logs"] }
opentelemetry-appender-tracing = { workspace = true, default-features = false }
opentelemetry-otlp = { workspace = true, features = [
  "tonic",
  "metrics",
  "logs",
] }
opentelemetry-semantic-conventions = { workspace = true }
opentelemetry-stdout = { workspace = true }
opentelemetry_sdk = { workspace = true, features = ["rt-tokio", "logs"] }
tracing = { workspace = true }
tracing-core = { workspace = true, default-features = false }
tracing-opentelemetry = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }


# Other
anyhow.workspace = true
futures = { workspace = true, default-features = true }
hyper.workspace = true
jsonrpsee.workspace = true
serde_json.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = [
  "macros",
  "parking_lot",
  "test-util",
  "signal",
] }
tokio-util.workspace = true
url.workspace = true
