---
# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/refs/heads/master/src/schemas/json/github-workflow.json
name: Workflow - Pull Request Main (merge)

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, ready_for_review]


jobs:
  # ========================================================================= #
  #                              NIGHTLY RELEASE                              #
  # ========================================================================= #

  build-nightly-and-publish-madara:
    uses: ./.github/workflows/task-build-nightly-and-publish.yml
    with:
      image-name: madara
      image-file: ./madara/Dockerfile
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    secrets: inherit

  # test-hive:
  #   needs: [build-nightly]
  #   uses: ./.github/workflows/task-test-hive.yml
  #   with:
  #     nightly-sha: ${{ needs.build-nightly.outputs.nightly-sha }}
  #   secrets: inherit

  build-nightly-and-publish-orchestrator:
    uses: ./.github/workflows/task-build-nightly-and-publish.yml
    with:
      image-name: orchestrator
      image-file: ./orchestrator/Dockerfile
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    secrets: inherit

  build-nightly-and-publish-bootstrapper:
    uses: ./.github/workflows/task-build-nightly-and-publish.yml
    with:
      image-name: bootstrapper
      image-file: ./bootstrapper/Dockerfile
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    secrets: inherit

  # ========================================================================= #
  #                                MERGE QUEUE                                #
  # ========================================================================= #

  # Run coverage tests (Madara)
  test-madara:
    uses: ./.github/workflows/task-do-nothing-test-madara.yml

  # Run coverage tests (Orchestrator)
  test-orchestrator:
    uses: ./.github/workflows/task-do-nothing-test-orchestrator.yml

  # Run e2e tests (Orchestrator)
  # e2e-orchestrator:
  #   uses: ./.github/workflows/task-do-nothing-e2e-orchestrator.yml

  # Run coverage tests (Bootstrapper)
  test-bootstrapper:
    uses: ./.github/workflows/task-do-nothing-test-bootstrapper.yml

  # Run JavaScript tests
  test-js:
    uses: ./.github/workflows/task-do-nothing-test-js.yml

  # Run CLI tests
  test-cli:
    uses: ./.github/workflows/task-do-nothing-test-cli.yml

  # End-to-end tests
  test-end-to-end:
    uses: ./.github/workflows/task-test-end-to-end.yml
