# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/refs/heads/master/src/schemas/json/github-workflow.json
name: Workflow - Pull Request Main (merge)

on:
  workflow_dispatch:
  merge_group:

jobs:
  build-nightly:
    uses: ./.github/workflows/task-build-nightly.yml
    with:
      image-name: madara
      image-file: ./madara/Dockerfile
    permissions:
      contents: read
      attestations: write
      id-token: write
    secrets: inherit

  # test-hive:
  #   needs: [build-nightly]
  #   uses: ./.github/workflows/task-test-hive.yml
  #   with:
  #     nightly-sha: ${{ needs.build-nightly.outputs.nightly-sha }}
  #   secrets: inherit

  publish-nightly:
    needs: build-nightly
    uses: ./.github/workflows/task-publish-image.yml
    with:
      image-name: madara
      tag: ${{ needs.build-nightly.outputs.nightly }}
      tag-version: ${{ needs.build-nightly.outputs.nightly-sha }}
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    secrets: inherit
