---
name: Task - Run check

on:
  workflow_dispatch:
  workflow_call:

jobs:
  rust_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "cache"
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: 1.81

      - uses: software-mansion/setup-scarb@v1
        with:
          scarb-version: "2.9.1"
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Display Python version
        run: python --version

      - name: Install cairo 0
        run: |
          # Creating venv
          python3.9 -m venv ~/cairo_venv
          source ~/cairo_venv/bin/activate

          # Installing deps
          sudo apt install -y libgmp3-dev
          pip3 install ecdsa fastecdsa sympy

          # Installing cairo lang
          pip3 install cairo-lang

      - name: Build SNOS files
        run: |
          make snos

      - name: Check the project
        run: |
          cargo check --release --workspace
