---
name: Workflow - Daily Cron

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  security_audit:
    name: Security - Audit check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
