---
name: Workflow - Daily Security

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  security_audit:
    name: Security - Audit check
    if: ${{ github.repository_owner == 'madara-alliance' || github.event_name != 'schedule' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
