---
# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/refs/heads/master/src/schemas/json/github-workflow.json
name: Task - Build Orchestrator

# This workflow builds the main Orchestrator binary using the reusable build workflow
on:
  workflow_dispatch:
  workflow_call:
    outputs:
      orchestrator-binary-hash:
        description: "Hash of the built orchestrator binary"
        value: ${{ jobs.build-orchestrator.outputs.binary-hash }}

jobs:
  build-orchestrator:
    uses: ./.github/workflows/task-build-binary.yml
    with:
      binary-name: orchestrator
    secrets: inherit
