---
# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/refs/heads/master/src/schemas/json/github-workflow.json
name: Task - Lint Cargo

on:
  workflow_dispatch:
  workflow_call:

jobs:
  cargo-lint:
    runs-on: blacksmith-16vcpu-ubuntu-2204
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Load env
        uses: ./.github/actions/load-env

      - name: Rust setup
        uses: ./.github/actions/setup-rust
        with:
          rust-version: ${{ env.BUILD_RUST_VERSION }}
          extra-cache: false

      - name: Scarb setup
        uses: ./.github/actions/setup-scarb
        with:
          scarb-version: ${{ env.BUILD_SCARB_VERSION }}

      - name: Run Make artifacts
        run: yes | make artifacts

      - name: Cargo fmt
        run: cargo fmt -- --check

      - name: Python Cairo setup (before clippy)
        uses: ./.github/actions/setup-python-cairo
        with:
          python-version: ${{ env.BUILD_PYTHON_VERSION }}

      - name: Cargo Clippy
        run: |
          echo "Running cargo clippy..."
          cargo clippy --workspace --no-deps -- -D warnings
          cargo clippy --workspace --tests --no-deps -- -D warnings

          # TODO(mehul 14/11/2025, hotfix): This is a temporary fix to ensure that the madara is linted.
          # Madara does not belong to the toplevel workspace, so we need to lint it separately.
          # Remove this once we add madara back to toplevel workspace.

          echo "Running cargo clippy for madara..."
          cd madara
          cargo clippy --workspace --no-deps -- -D warnings
          cargo clippy --workspace --tests --no-deps -- -D warnings
          cd ..
