---
name: Task - Run CLI tests

on:
  workflow_dispatch:
  workflow_call:

jobs:
  cli_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Load env
        uses: ./.github/actions/load-env

      - name: Rust setup
        uses: ./.github/actions/setup-rust
        with:
          rust-version: ${{ env.BUILD_RUST_VERSION }}

      - name: Run cli without arguments
        run: |
          cargo run --bin madara --release &
          MADARA_PID=$!
          while ! echo exit | nc localhost 9944; do sleep 1; done
          kill $MADARA_PID

      - name: Run cli pointing to a file
        run: |
          cargo run --bin madara --release -- --config-file ./configs/args/config.json &
          MADARA_PID=$!
          while ! echo exit | nc localhost 9944; do sleep 1; done
          kill $MADARA_PID
