---
# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/refs/heads/master/src/schemas/json/github-workflow.json
name: Task - Integration Tests and Coverage (Orchestrator)

# This workflow runs tests and generates code coverage reports
# for the Orchestrator component
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      madara-binary-hash:
        description: "Hash used to retrieve the artifact"
        required: true
        type: string
    secrets:
      ETHEREUM_SEPOLIA_RPC:
        required: true
      RPC_FOR_SNOS:
        required: true

jobs:
  test-orchestrator:
    runs-on: blacksmith-8vcpu-ubuntu-2204

    services:
      localstack:
        image: localstack/localstack@sha256:763947722c6c8d33d5fbf7e8d52b4bddec5be35274a0998fdc6176d733375314
        credentials:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        env:
          SERVICES: s3, sqs, sns
          DEFAULT_REGION: us-east-1
          AWS_ACCESS_KEY_ID: "AWS_ACCESS_KEY_ID"
          AWS_SECRET_ACCESS_KEY: "AWS_SECRET_ACCESS_KEY"
        ports:
          - 4566:4566
      mongodb:
        image: mongo:latest
        credentials:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
        ports:
          - 27017:27017

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Load env
        uses: ./.github/actions/load-env

      - name: Foundry setup
        uses: ./.github/actions/setup-foundry
        with:
          foundry-version: ${{ env.BUILD_FOUNDRY_VERSION }}

      - name: Rust setup
        uses: ./.github/actions/setup-rust
        with:
          rust-version: ${{ env.BUILD_RUST_VERSION }}
          cache-key: madara-${{ runner.os }}

      - name: Install cargo-llvm-cov & nextest
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Install nextest
        uses: taiki-e/install-action@nextest

      - name: Download Madara binary
        uses: actions/download-artifact@v4
        with:
          name: madara-binary-${{ inputs.madara-binary-hash }}
          path: target/release/

      - name: Make Madara binary executable
        run: chmod +x target/release/madara

      - name: Prepare Madara Environment (Orchestrator)
        run: |
          mv target/release/madara ./madara-binary
          echo "MADARA_ORCHESTRATOR_MADARA_BINARY_PATH=$(pwd)/madara-binary" >> $GITHUB_ENV

          # Copy the devnet.yaml file to the test directory
          cp ./configs/presets/devnet.yaml ./orchestrator/crates/settlement-clients/starknet/src/tests/devnet.yaml

      - name: Getting necessary files for testing
        working-directory: orchestrator
        run: |
          wget -P ./crates/prover-clients/sharp-service/tests/artifacts https://madara-orchestrator-sharp-pie.s3.amazonaws.com/238996-SN.zip
          # TODO: this can be optimised
          cp ./crates/prover-clients/sharp-service/tests/artifacts/238996-SN.zip ./src/tests/artifacts/238996-SN.zip

      - name: Check rust version
        run: rustup show

      - name: Run make artifacts
        run: yes | make artifacts

      - name: Python Cairo setup (before orchestrator tests)
        uses: ./.github/actions/setup-python-cairo
        with:
          python-version: ${{ env.BUILD_PYTHON_VERSION }}

      - name: Run llvm-cov tests
        continue-on-error: false
        env:
          MADARA_ORCHESTRATOR_ETHEREUM_SETTLEMENT_RPC_URL: ${{ secrets.ETHEREUM_SEPOLIA_RPC }}
          MADARA_ORCHESTRATOR_RPC_FOR_SNOS: ${{ secrets.RPC_FOR_SNOS }}
          MADARA_ORCHESTRATOR_ATLANTIC_API_KEY: ${{ secrets.MADARA_ORCHESTRATOR_ATLANTIC_API_KEY }}
          # the self hosted runner has a different region so we override it here
          AWS_REGION: us-east-1
        run: |
          echo "MADARA_ORCHESTRATOR_MADARA_BINARY_PATH: $MADARA_ORCHESTRATOR_MADARA_BINARY_PATH"
          RUST_LOG=debug RUST_BACKTRACE=1 cargo llvm-cov nextest \
            --features testing \
            --lcov \
            --output-path lcov.info \
            --package "orchestrator*" \
            --no-fail-fast

      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@v2
        continue-on-error: true
        with:
          parallel-finished: true
          files: lcov.info
