---
# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/refs/heads/master/src/schemas/json/github-workflow.json
name: Task - Test JavaScript

# This workflow runs JavaScript compatibility tests for Starknet.js
# against the Madara binary to ensure API compatibility
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      madara-binary-hash:
        description: "Hash used to retrieve the madara binary"
        required: true
        type: string
      cairo-artifacts-hash:
        description: "Hash used to retrieve the cairo artifacts"
        required: true
        type: string

jobs:
  test-js:
    runs-on: blacksmith-4vcpu-ubuntu-2204
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Download Madara binary
        uses: actions/download-artifact@v4
        with:
          name: madara-binary-${{ inputs.madara-binary-hash }}
          path: target/release/

      - name: Make Madara binary executable
        run: chmod +x target/release/madara

      - name: Download Cairo artiracts
        uses: actions/download-artifact@v4
        with:
          name: build-artifacts-${{ inputs.cairo-artifacts-hash }}
          path: build-artifacts/

      - name: Install dependencies
        run: |
          if ! command -v nc 2>&1 >/dev/null; then
            sudo apt-get update
            sudo apt-get install -y netcat
          fi
          cd tests/js_tests
          npm install

      - name: Setup dev chain and run tests
        run: |
          ./target/release/madara \
            --name madara \
            --base-path ../madara_db \
            --rpc-port 9944 \
            --rpc-cors "*" \
            --rpc-external \
            --devnet \
            --preset devnet \
            --l1-gas-price 0 \
            --blob-gas-price 0 \
            --strk-per-eth 1 \
            --no-l1-sync \
            --rpc-pre-v0-9-preconfirmed-as-pending &

          MADARA_PID=$!

          while ! echo exit | nc localhost 9944; do sleep 1; done
          cd tests/js_tests
          npm test

          kill $MADARA_PID
